@import "./components/Loader/NoiseCanvas/NoiseCanvas.scss";
@import "./components/Loader/AnimatedLines/AnimatedLines.scss";
@import "./components/TextTyper/TextTyper.scss";
@import "./components/Loader/AnimatedText/AnimatedText.scss";
@import "./components/Loader/AnimatedDots/AnimatedDots.scss";
@import "./components/Loader/Loader.scss";
@import "./components/Loader2/Loader2.scss";
@import "./components/Header/Header.scss";
@import "./components/Footer/Footer.scss";
@import "./components/Image/Image.scss";
@import "./components/Form/Form.scss";
@import "./components/RandomImage/RandomImage.scss";
@import "./components/Cursor/Cursor.scss";
@import "./components/Pellicule/Pellicule.scss";
@import "./components/Carousel/Carousel.scss";
@import "./components/ProjectDescription/ProjectDescription.scss";
@import "./pages/Home/Home.scss";
@import "./pages/Oeuvres/Oeuvres.scss";
@import "./pages/Contact/Contact.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

html {
    font-family: 'Libre Caslon Display', serif;    background-color: black;
}