.titleCont{
    position:relative;
    .loaderTitle {
        padding: .3em 1em .25em;    
        font-weight: 400;
        font-size: 45px;
        color: white;
        font-family: 'Syne Mono', monospace;
        position:relative;
        line-height:1.3;
        white-space: pre-line;
    }
}